//definicion de variables
$myPrimary: rgb(38, 38, 180);
$mysecundary: rgb(163, 90, 22) ;
$myinfo: green ;
$mydark: rgb(73, 4, 4) ;
$light: white;

$myBgColorLight2: rgb(169, 197, 248);


$myBgColorLight: rgb(223, 151, 181);

$myBgColorLight3:rgb(205, 223, 191);

$boxshadow: 4px 3px 6px 0px rgb(102, 100, 117);