//definicion de variables
$myPrimary: rgb(38, 38, 180);
$mysecundary: rgb(163, 90, 22) ;
$myinfo: green ;
$mydark: rgb(73, 4, 4) ;
$light: white;

$myBgColorLight2: rgb(248, 169, 169);


$myBgColorLight: rgb(158, 151, 223);

$myBgColorLight3:rgb(179, 247, 208);
$myBgColorLight4: rgba(80, 255, 156, 0.486);

$boxshadow: 4px 3px 6px 0px rgb(102, 100, 117);