#main{
    @include margin (0px, 0px, 5%, 0px);
    
    .entrada{
        @include margin (10%, 0px, 0px, 0px);
        background-color: $myBgColorLight2;
         display: grid;
         width: 80% ;
         grid-template-areas: "img letra";
         grid-template-columns: 50% 50%;
         align-items: center;

         figure{
            grid-area: img;
            img{
                width: 80%;
                @include margin (10%, 0px, 5%, 0px);
            }
        }

        div{
            grid-area: letra;
            text-align: center;
            
        }
     }
     
    .btnVer{
        @include margin (0px, 0px, 5%, 10%);
        display: flex;
        justify-content: center;
        a:hover{
            color: $light;
        }
    }
    #tituloHor{
        text-align: center;
    }
    #Horario{
        display: grid;
        grid-template-areas: "horario book";
        gap: 5%;
        width: 80%;
        @include margin (15%, 0px, 0px, 10%);
        grid-template-rows: 80% 20%;
        table{
            grid-area: horario;
        }
        div{
            grid-area: book;
            width: 100%;
        }
    }

 }


 @keyframes aparece{
    0%{
        opacity: 0;
        transform: scale(0.1);
    }
    50%{
        opacity: 0.5;
        transform: scale(1.3);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}