@media all and (max-width:660px){
    main{
        .entrada{
            @include margin (0%, 5%, 0px, 0px);
            #hover{
                
                top: -23rem;
                width: 70%;
                @include margin (20%, 0%, 0px, 0px);
                text-align: center;
                @include paddings(0%,0%,5%,5%);
               
            }
             figure{
                img{
                    width: 100%;
                    @include margin (5%, 0px, 5%, 0px);
                }
            }
    
         }
    }
}