#planes{
    @include margin (0%, 0%, -20%, 0px);
    text-align: center;
    thead{
        background-color: $myBgColorLight2;
    }
    tbody{
        background-color: $myBgColorLight4;
    }

}

.modal-header{
    background-color: $myBgColorLight3;
}
#cardPlan{
    width: 100;
    .card-body{
    background-color: $myBgColorLight2;
    text-align: center;
    }
}



